@* @model medTurno_Api.Models.Inquilino

@{
    ViewData["Title"] = "Altas";
}

@if(!User.Identity.IsAuthenticated)
 {
     await Html.RenderPartialAsync("_Login", new LoginView());
 }
else
{

<h1>Altas de Inquilinos</h1>

<div class="container">
    <div>
        <form method="post" asp-action="Alta">
            <div class="form-group">
                <label for="dni_id" class="control-label">DNI</label>
                <input type="text" class="form-control" id="dni_id" name="dni" placeholder="Dni">
            </div>
            <div class="form-group">
                <label for="name_id" class="control-label">Nombre</label>
                <input type="text" class="form-control" id="name_id" name="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="mail" class="control-label">Mail</label>
                <input type="text" class="form-control" id="mail" name="mail" placeholder="E-Mail">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Direccion</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Dieccion">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Telef. del Inquilino</label>
                <input type="text" class="form-control" id="tel_inquilino" name="tel_inquilino" placeholder="Telef. del Inquilino">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Lugar de Trabajo</label>
                <input type="text" class="form-control" id="lugartrabajo" name="lugartrabajo" placeholder="Lugar de Trabajo">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Nombre del Garante</label>
                <input type="text" class="form-control" id="nom_garante" name="nom_garante" placeholder="Nombre del Garante">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">DNI del Garante</label>
                <input type="text" class="form-control" id="dni_garante" name="dni_garante" placeholder="DNI del Garante">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Telef. del Garante</label>
                <input type="text" class="form-control" id="tel_garante" name="tel_garante" placeholder="Telef. del Garante">
            </div>
            <input type="submit" value="Confirmar" />
        </form>
    </div>
</div>
} *@