
@{ ViewData["Title"] = "Fuera!!"; }

<link rel="stylesheet" href="~/css/notFound.css" />
<div id="contenedor">
    <div class="contenido">
        <h2>ERROR</h2>
        <h4>Oops! Pagina no funciona!</h4>
        <p>Usted no tiene permiso para esta Accion!</p>
        <a asp-action="Admin" asp-controller="Home">Volver a Inicio</a>
    </div>
</div>
<script src="~/js/notFound.js"></script>
